/* Author: Dennis Shim
   CSS adapted from a Javascript to-do list tutorial
   http://docs.railsbridge.org/javascript-to-do-list/javascript-to-do-list
   I used this code as a base to add settings as well as additional features
   which I could not have implemented if I had to learn how to write a to-do
   list by myself from scratch. I have never done web development before. */

/* I wrote all CSS for settings. I modified and adapted CSS for the rest. All
   comments are written by me */

body {
  background: url('../assets/debut_light.png')
}

/* many things inherit from color and font of container */
.container {
  width: 70%;
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
  color: #7d82b0;
}

h1 {
  margin: 5px;
  color: inherit;
}

h2 {
  margin: 20px;
  font-size: 16px;
  color: inherit;
}

/* for main application */
#app {
  box-shadow: 0 0 5px currentColor;
  font-size: 35px;
  color: inherit;
  background-color: white;
}

/* for settings div */
#settings {
  font-size: 30px;
  line-height: 1.6em;
  margin: 30px;
}

form {
  margin: 0;
  padding: 0;
}

/* make item input a nice-looking box */
#create {
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 30px;
  border-left:    1px  solid currentColor;
  border-right:   1px  solid currentColor;
  border-bottom:  2px  solid currentColor;
  border-top:     15px solid currentColor;
  text-align: center;
  background-color: white;
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* make items have a nice-looking box around them */
.item {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  list-style-type: none;
  width: 100%;
  border-left:    1px  solid currentColor;
  border-right:   1px  solid currentColor;
  border-bottom:  2px  solid currentColor;
  border-top:     0px  solid currentColor;

}

/* put complete button on the left and centered vertically */
.item .complete-button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.item .description {
  margin: 0 50px;
  padding: 0 15px;
  word-wrap: break-word;
}

/* put complete button on the left and centered vertically */
.item .delete-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* put created time on the upper-right corner */
.item .created-time {
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 14px;
  display: none;
}

/* change the color and put a strike-through on completed items */
.completed {
  color: #C3C3C4;
  text-decoration: line-through;
}

/* button for timer start should be centered vertically on the right */
.item .timer-start {
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-100%); /* centers vertically */
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  display: none;
}

/* display for how much time left should be centered vertically on the right */
.item .timer-time {
  position: absolute;
  right: -14%;
  top: 50%;
  transform: translateY(0%);
  font: inherit;
  font-size: 16px;
  margin: 1px 1px 1px 1px;
  display: none;
}

/* never display templates */
#templates {
  display: none
}

/* for settings */
#settings {
  color: inherit;
}

/* show settings button */
#settings-show {
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}

/* hide settings button is initially hidden */
#settings-hide {
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  display: none;
}

/* settings are initially hidden */
#settings-list {
  display: none;
  color: inherit;
}

.settings-form {
  color: inherit;
}

.settings-form .settings-table {
  margin-left: auto;
  margin-right: auto;
}

.settings-form .settings-label {
  margin-right: 50px;
  font-size: 30px;
  color: inherit;
}

.settings-form .settings-input {
  font-family: inherit;
  font-size: 20px;
}

#settings-save {
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}

#show-advanced {
  font-size: 20px;
}

#show-adv-tr {
  text-align: center;
  font-weight: normal;
}

/* advanced settings are initially hidden */
.advanced-tr {
  display: none;
}

/* make checkbox bigger */
.adv-check {
  height: 22px;
  width: 22px;
}

#table-alarm {
  display: none;
}

.time-stamps {
  display: none;
}

.time-inp {
  width: 40px;
  font: inherit;
}

#show-ann-tr {
  font-size: 5px;
  margin-bottom: 20px;
}

.extra-hidden {
  display: none;
}